doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/output.css")
        title Fotaza 2
    body(class="bg-bk min-h-screen min-w-screen font-sans antialiased")
        block content