mixin icon(name, classes)
    span(class=(classes || "") + " inline-block")
        case name
            when "house"
                include ../../public/icons/house-bold.svg
            when "magnifying-glass"
                include ../../public/icons/magnifying-glass-bold.svg
            when "upload"
                include ../../public/icons/upload-simple-bold.svg
            when "camera"
                include ../../public/icons/camera-bold.svg
            when "squares-four"
                include ../../public/icons/squares-four-bold.svg
            when "app-window"
                include ../../public/icons/app-window.svg
            when "bell"
                include ../../public/icons/bell-bold.svg
            when "user"
                include ../../public/icons/user-bold.svg
            when "flag"
                include ../../public/icons/flag.svg
            when "gear"
                include ../../public/icons/gear-bold.svg
            when "user-sound"
                include ../../public/icons/user-sound.svg
            when "list-bullets"
                include ../../public/icons/list-bullets.svg
            when "list-plus"
                include ../../public/icons/list-plus.svg
            when "sort-ascending"
                include ../../public/icons/sort-ascending.svg
