mixin winBorder(classes = "")

    div(class=`border-2 border-black  ${classes}`)
        div(class=`border-t-white border-l-white border-r-win-gray border-b-win-gray border-[0.5px] ${classes}`) 
            block 