extend ../layouts/app.pug
include ../components/feedGrid.pug
include ../components/publicationModal.pug

block app
    section(class="flex flex-col items-center w-full py-8 px-4")
        div(class="w-[90vw] max-w-5xl flex flex-col gap-4")
            +feedGrid(publications, endpoint, hasMore, "grid-cols-1 md:grid-cols-2", "Todavia no hay publicaciones para mostrar. Segui a otros usuarios para ver su contenido aca.")

    +publicationModal()

    script(src="/js/feed/infiniteScroll.js" type="module")
    script(src="/js/publication/publicationModal.js" type="module")
